[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
ipykernel = "*"

[packages]
numpy = "*"
tiktoken = "*"
torch = "*"

[requires]
python_version = "3.11.3"
